table {
    outline: 5px solid black;
    outline-offset: -2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

td {
    display: flex;
    height: 80px;
    width: 80px;
    background-color: #ebecd0;
}

tr {
    display: flex;
}

tr:nth-child(even) > td:nth-child(odd) {
    background-color: #779556;
}

tr:nth-child(odd) > td:nth-child(even) {
    background-color: #779556;
}

td:hover {
    outline: 2px solid black;
    outline-offset: -2px;
}
