table {
    outline: 5px solid black;
    outline-offset: -2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

td {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;

    height: 80px;
    width: 80px;
}

tr {
    display: flex;
}

.lightSquare {
    background-color: #779556;
}

.darkSquare {
    background-color: #ebecd0;
}

.selected {
    background-color: orange;
    outline: 4px solid black;
    outline-offset: -4px;
}

.moveSpot {
    outline: 3px dashed gold;
    outline-offset: -25px;
}

.eatSpot {
    outline: 3px dashed red;
    outline-offset: -25px;
}

td:hover {
    outline: 2px solid black;
    outline-offset: -2px;
}